
/* Файл article.css. Сначала стили, соответствующие макету для
всех страниц */
body {
        background: #1abc9c;
        font-family: Tahoma, Arial, sans-serif;
        color: #ffffff;
}
/* Белый цвет для ссылок*/
a {
    color: #ffffff;
}
.links a {
    margin-left: 15px; /* Отступ, чтобы отделить одну ссылку
    по горизонтали от другой */
    float: right;
}
/* Общий стиль для логотипа проекта*/
.header img {
    display: block; /* Блочный элемент */
    width: 318px;
}
.article-author {
    width: 50%; /* Указана ширина меньше, чем вся страница, чтобы
                дата создания статьи поместилась справа */
    float: left; /* «обтекание слева» */
}
.article-created-date {
    text-align: right; /* Выравнивание текста по правому краю */
}
/*---------------------------------------------------------------------
   Стили для страницы всех записей
   Указание, что названия постов, являющиеся ссылками на
   страницы постов, были белого цвета вместо синего по умолчанию */
/* Выравнивание логотипа проекта на странице всех записей по центру */
.archive img {
    /* Боковые отступы*/
    margin-left: auto;
    margin-right: auto;
}
.archive { /* Выравнивание по центру остального контента страницы всех
записей */
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}