/* Файл article.css. Сначала стили, соответствующие макету для
всех страниц */
body {
        background: #1abc9c;
        font-family: Tahoma, Arial, sans-serif;
        color: #ffffff;
}
/* Общий стиль для логотипа проекта*/
.header img {
    display: block; /* блочный элемент */
    width: 318px;
}
.article-author {
    width: 50%; /* Указана ширина меньше, чем вся страница, чтобы
                дата создания статьи поместилась справа */
    float: left; /* «обтекание слева» */
}
.article-created-date {
    text-align: right; /* выравнивание текста по правому краю */
}
/*-----------------------------------------------------------------------
Нужно, чтобы на странице статьи был логотип проекта слева, а ссылка на
все статьи справа. Размещение ссылки справа и будет стиль,
соответствующий макету для страницы определенной записи.
На странице всех статей логотип проекта должен быть выровнен по центру.
-----------------------------------------------------------------------*/
.article a {
color: #ffffff;
float: right; /* «обтекание справа» */
}
/*---------------------------------------------------------------------*/
/* Стили для страницы всех записей
   Указание, что названия постов, являющиеся ссылками на
   страницы постов, были белого цвета вместо синего по умолчанию */
.post-title a {
    color: #ffffff;
}
/* Выравнивание логотипа проекта на странице всех записей по центру */
.archive img {
    /* Боковые отступы*/
    margin-left: auto;
    margin-right: auto;
}
.archive { /* Выравнивание по центру остального контента страницы всех
записей */
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
